body {
  background-color: gray;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/drum.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color:#fff;
}

.board {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  width: 800px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 100px;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 15px 10px 0px #fff;
  transition: all 0.07s;
}

.button:hover {
  cursor: pointer;
}

.animate {
    transform: scale(1.1);
    background-color: lightblue;
    border-color: yellow;
}

p {
    font-size: 45px;
}

